@(subject: RdfSubjectDetails)

@main(subject.label) {

    <script>
    	var rdfWebApp = angular.module('rdfWebApp', []);
    	
		rdfWebApp.controller('SubjectController', function($scope, $http) {
		    $scope.predicate = '-p';
		    
	        $http.get("/subject/@subject.id").
		        success(function(data, status, headers, config) {
		            	$scope.triples_in = data.in;
		            	$scope.triples_out = data.out;
		        	}
		        ).
		        error(function(data, status, headers, config) {
		        	alert("http failure");
				});
        });
	</script>

	<div ng-controller="SubjectController">

	    <h2>@subject.label (@subject.id)</h2>
	    <b>Description</b>: @subject.description <br/>
	    
	    <h3>Outgoing</h3>
	    
	    <table border="1">
		    <thead>
		    	<th>Predicate</td>
		    	<th>Object</td>
		    	<th>Language</td>
		    </thead>
		    <tbody>
		    @for( t <- subject.outgoing_triples ) {
		 
		 		<tr>
		    	<td>@t.predicate_id</td>
				<td>
			    	@if( t.object_id.isEmpty ) {
			    		@t.object_label
			    	} else {
			    		<a href="/html/subject/@t.object_id">@t.object_label</a>
			    	}
		    	</td>
		    	<td>@t.object_label_language</td>
		    	</tr>
		    }
		    </tbody>
	    </table>
	    
	    <h3>Incoming</h3>
	
		<table class="table-triples">
			<tr>
				<th><a href="" ng-click="predicate = 'o'; reverse=!reverse">Subject</a></th>
				<th><a href="" ng-click="predicate = 'p'; reverse=!reverse">Predicate</a></th>
			</tr>
			<tr ng-repeat="triple in triples_in | orderBy:predicate:reverse">
				<td>{{triple.o}}</td>
				<td>{{triple.p}}</td>
			</tr>
		</table>
	</div>
}
